.container {
    width: 95vw;
    position: relative;
    right: 425px;
}

.example-spacer {
    flex: 1 1 auto;
  }

a{
    margin: 0 10px;
    text-decoration: none;
}

.box{
    width: 90vw;
    height: 75vh;
    border: 2px solid black;
    margin: 20px auto;
    display: flex;
}

.main-body {
    padding-top: 20px;
    margin: 0 auto;
    width: 95%;
    font-size: 20px;
    mat-form-field {
        width: 100%;
    }
}